[Unit]
Description=Word Cloud Generator

[Service]
WorkingDirectory=/opt/wordcloud
ExecStart=/opt/wordcloud/artifacts/linux/word-cloud-generator
Restart=always

[Install]
WantedBy=multi-user.target